In [16]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import svm
data = pd.read_csv('C:/Users/ayush/Desktop/Kaggle/train.csv')
data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [17]:
y_target = data['Survived']
# Y_target.reshape(len(Y_target),1)
x_train = data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]
x_train.head()

   Pclass     Sex   Age  SibSp  Parch     Fare
0       3    male  22.0      1      0   7.2500
1       1  female  38.0      1      0  71.2833
2       3  female  26.0      0      0   7.9250
3       1  female  35.0      1      0  53.1000
4       3    male  35.0      0      0   8.0500

In [18]:
fare = pd.DataFrame(x_train['Fare'])
min_max_scaler = preprocessing.MinMaxScaler()
newfare = min_max_scaler.fit_transform(fare)
x_train['Fare'] = newfare
x_train

C:\Users\ayush\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

     Pclass     Sex   Age  SibSp  Parch      Fare
0         3    male  22.0      1      0  0.014151
1         1  female  38.0      1      0  0.139136
2         3  female  26.0      0      0  0.015469
3         1  female  35.0      1      0  0.103644
4         3    male  35.0      0      0  0.015713
5         3    male   NaN      0      0  0.016510
6         1    male  54.0      0      0  0.101229
7         3    male   2.0      3      1  0.041136
8         3  female  27.0      0      2  0.021731
9         2  female  14.0      1      0  0.058694
10        3  female   4.0      1      1  0.032596
11        1  female  58.0      0      0  0.051822
12        3    male  20.0      0      0  0.015713
13        3    male  39.0      1      5  0.061045
14        3  female  14.0      0      0  0.015330
15        2  female  55.0      0      0  0.031230
16        3    male   2.0      4      1  0.056848
17        2    male   NaN      0      0  0.025374
18        3  female  31.0      1      0  0.035134
19        3  female   NaN      0      0  0.014102
20        2    male  35.0      0      0  0.050749
21        2    male  34.0      0      0  0.025374
22        3  female  15.0      0      0  0.015672
23        1    male  28.0      0      0  0.069291
24        3  female   8.0      3      1  0.041136
25        3  female  38.0      1      5  0.061264
26        3    male   NaN      0      0  0.014102
27        1    male  19.0      3      2  0.513342
28        3  female   NaN      0      0  0.015379
29        3    male   NaN      0      0  0.015412
..      ...     ...   ...    ...    ...       ...
861       2    male  21.0      1      0  0.022447
862       1  female  48.0      0      0  0.050610
863       3  female   NaN      8      2  0.135753
864       2    male  24.0      0      0  0.025374
865       2  female  42.0      0      0  0.025374
866       2  female  27.0      1      0  0.027050
867       1    male  31.0      0      0  0.098561
868       3    male   NaN      0      0  0.018543
869       3    male   4.0      1      1  0.021731
870       3    male  26.0      0      0  0.015412
871       1  female  47.0      1      1  0.102579
872       1    male  33.0      0      0  0.009759
873       3    male  47.0      0      0  0.017567
874       2  female  28.0      1      0  0.046845
875       3  female  15.0      0      0  0.014102
876       3    male  20.0      0      0  0.019218
877       3    male  19.0      0      0  0.015412
878       3    male   NaN      0      0  0.015412
879       1  female  56.0      0      1  0.162314
880       2  female  25.0      0      1  0.050749
881       3    male  33.0      0      0  0.015412
882       3  female  22.0      0      0  0.020527
883       2    male  28.0      0      0  0.020495
884       3    male  25.0      0      0  0.013761
885       3  female  39.0      0      5  0.056848
886       2    male  27.0      0      0  0.025374
887       1  female  19.0      0      0  0.058556
888       3  female   NaN      1      2  0.045771
889       1    male  26.0      0      0  0.058556
890       3    male  32.0      0      0  0.015127

[891 rows x 6 columns]

In [19]:
x_train.isnull().sum()

Pclass      0
Sex         0
Age       177
SibSp       0
Parch       0
Fare        0
dtype: int64

In [20]:
# Fill the NAN values with the median values in the datasets
x_train['Age'] = x_train['Age'].fillna(x_train['Age'].median())
print("Number of NULL values" , x_train['Age'].isnull().sum())
print(x_train.head(3))

Number of NULL values 0
   Pclass     Sex   Age  SibSp  Parch      Fare
0       3    male  22.0      1      0  0.014151
1       1  female  38.0      1      0  0.139136
2       3  female  26.0      0      0  0.015469

C:\Users\ayush\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
x_train['Sex'] = x_train['Sex'].replace('male', 0)
x_train['Sex'] = x_train['Sex'].replace('female', 1)
print(x_train.head())

   Pclass  Sex   Age  SibSp  Parch      Fare
0       3    0  22.0      1      0  0.014151
1       1    1  38.0      1      0  0.139136
2       3    1  26.0      0      0  0.015469
3       1    1  35.0      1      0  0.103644
4       3    0  35.0      0      0  0.015713

C:\Users\ayush\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\ayush\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
# Dividing the data into train and test data set
X_train, X_test, Y_train, Y_test = train_test_split(x_train, y_target, test_size = 0.4)

In [23]:
clf = svm.SVC(kernel='poly', verbose=True)

clf.fit(X_train, Y_train)

C:\Users\ayush\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

[LibSVM]

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='poly', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=True)

In [25]:
print(clf.predict(X_test))
print(clf.score(X_test, Y_test))

[1 0 0 0 1 1 1 1 1 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 0 1 1 0 1 0 0 1 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 1 1
 1 0 0 1 0 1 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 1 1 0 0 1
 0 0 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 0 0 1 1 1 0
 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 1
 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0
 0 1 1 1 0 1 0 0 0 1 1 0 0 1 1 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 1 1 0 0 1 1 0
 0 0 1 1 0 1 0 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 1 0
 0 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 1]
0.773109243697479

In [29]:
## Testing the model.
test_data = pd.read_csv('C:/Users/ayush/Desktop/Kaggle/test.csv')
test_data.head(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [42]:
### Preprocessing on the test data
test_data = test_data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]

fare = pd.DataFrame(test_data['Fare'])
min_max_scaler = preprocessing.MinMaxScaler()
newfare = min_max_scaler.fit_transform(fare)
test_data['Fare'] = newfare
test_data['Age'] = test_data['Age'].fillna(test_data['Age'].median())
test_data['Sex'] = test_data['Sex'].replace('male', 0)
test_data['Sex'] = test_data['Sex'].replace('female', 1)
print(test_data)
# x_train.isnull().sum()

<class 'pandas.core.frame.DataFrame'>

In [49]:
print(clf.predict(test_data))

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').